@model InspirationSite.Models.Photos
@{ ViewBag.Title = "Add Photo"; }
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Add a New Photo
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Photos", "Album", "Photos")
                </li>
                <li class="active">Add Photo</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm("AddPhoto", "Photos", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <h3>Add a New Photo to the Album</h3>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>ImageURL:</label>
                        @Html.TextBoxFor(m => m.ImageURL, null, new { @class = "form-control", size = "400" })
                        <p class="help-block"></p>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <input type="submit" class="btn btn-primary" value="Add To Album">
            }
        </div>
        <!--Displays preview of image URL-->
        <div class="col-md-3 img-portfolio" style="float:right;">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" id="imagePreview" src="http://placehold.it/750x450" alt="This is not a valid Image URL. Please try the link again.">
            </a>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; The PACK 2016</p>
            </div>
        </div>
    </footer>
</div>
<script>
    $("#ImageURL").blur(function () {
        var newImageSrc = $("#ImageURL").val();
        $("#imagePreview").attr("src", newImageSrc);
    });
</script>

