@model InspirationSite.Models.PackMembers
@{ViewBag.Title = "Login";}
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Login
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Login</li>
            </ol>
        </div>
    </div>
    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                    <table>
                        <tr>
                            <td>@Html.LabelFor(model => model.Username)<b>: </b></td>
                        </tr>
                        <tr>
                            <td>@Html.TextBoxFor(model => model.Username, new { @class = "form-control", size = "400" })</td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.Password)<b>: </b></td>
                        </tr>
                        <tr>
                            <td>@Html.PasswordFor(model => model.Password, new { @class = "form-control" })</td>
                        </tr>
                        <tr></tr>
                    </table>
                    <br />
                    @Html.ActionLink("Register", "Register", "Account", null, new { style = "float:right;" })
                    <input type="submit" class="btn btn-primary" value="Login">
                    }
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; The PACK 2016</p>
            </div>
        </div>
    </footer>
</div>