@using Microsoft.AspNet.Http;
@model IEnumerable<InspirationSite.Models.BlogPosts>
@{ViewBag.Title = "Our Blog";}

    <!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Blog
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Blog</li>
            </ol>
            @if (Context.Session.GetString("Username") == "drewdemechko")
            {
                <div style="float:right;">
                    @Html.ActionLink("Add Blog Post", "AddBlogPost", "Blog")
                </div>
            }
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            @foreach (var post in Model.OrderBy(post => post.PostDate).Reverse())
            {
            <h2>
                @Html.DisplayFor(modelItem => post.Title)
            </h2>
            <p class="lead">
                by <a href="index.php">@Html.DisplayFor(modelItem => post.Author.Username)</a>
            </p>
            <p><i class="fa fa-clock-o"></i>@Html.DisplayFor(modelItem => post.PostDate)</p>
            <hr>
            <p>
                @Html.DisplayFor(modelItem => post.Content)
            </p>
            <hr>
            @if (Context.Session.GetString("Username") == "drewdemechko")
            {
                @Html.ActionLink("Delete Post", "Delete", new { id = post.BlogPostId })
            }
            }
            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; The PACK 2016</p>
            </div>
        </div>
    </footer>
</div>