@model InspirationSite.Models.PackMembers

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PackMembers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.MemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
